@'
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Archives / keys
*.zip
*.pem

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
'@ | Out-File -FilePath .gitignore -Encoding UTF8
